<section class="container">
    <h1>welcome</h1>

    <div ui-view="componentA"></div>
    <div ui-view="componentB"></div>
    <div ui-view="componentC"></div>

    <!--<dynamic-Components components="welcome"></dynamic-Components>-->
    <!--<dynamic-components></dynamic-components>-->

    <!--<div class="welcome row">-->
        <!--<div class="row">-->
            <!--<div ui-view="componentA" class="col-md-1"></div>-->
            <!--<div ui-view="componentB" class="col-md-1"></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-1" ui-view="componentC" class="ng-scope"></div>-->
        <!--</div>-->
    <!--</div>-->
</section>
