<section class="container">
    <h2>welcome: {{welcome.heading}}</h2>

    <!--<div ui-view="componentA"></div>-->
    <!--<div ui-view="componentB"></div>-->

    <!--<dynamic-Components components="welcome"></dynamic-Components>-->

    <dynamic-components components="welcome.components"></dynamic-components>

    <!--<div class="welcome row">-->
        <!--<div class="row">-->
            <!--<div ui-view="componentA" class="col-md-1"></div>-->
            <!--<div ui-view="componentB" class="col-md-1"></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-1" ui-view="componentC" class="ng-scope"></div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div ng-repeat="comp in welcome.components">-->
        <!--<div>{{comp.layout}}</div>-->
        <!--<div>{{comp.type}}</div>-->
    <!--</div>-->
</section>
